<div style="float: right;">
	<%= link_to '<i class="icon-pencil"></i>Éditer le manga'.html_safe, edit_manga_path(@manga) %>
</div>

<div class="manga_title" style="text-align: center;" xmlns="http://www.w3.org/1999/html">
	<h3><%= @manga.title %></h3>
</div>

<div style="text-align: center;">
	<%= image_tag @manga.picture, class: "manga_picture" %>
</div>

<div class="author_name">
	<b>Auteur :</b> <%= @manga.author.name %>
</div>
<br>
<div class="genre_name">
	<b>Genre : </b> <%= @manga.genre.name %>
</div>
<br>
<div class="manga_plot" style="text-align: justify;">
	<b>Résumé : </b> <%= @manga.plot.html_safe %>
</div>
<br/>

<%= render "mangas/fiche/#{@manga.title.split(" ").first.downcase}" %>
