<p id="notice"><%= notice %></p>

<h4>Les news :</h4>

<%= paginate @posts %>

<% @posts.each do |post| %>

	<hr class="bs-docs-separator">

	<h4><%= link_to post.title, post %></h4>
	<p>
		Posté il y a <%= time_ago_in_words post.created_at %>, dernière mise à jour le <%= l(post.updated_at) %>
	</p>
	<p>
		<%= truncate_html(post.content.html_safe, length: 1000) %><br />
	</p>
	<div id="admin-post">
		<%= link_to t('Edit'), edit_post_path(post) %> |
		<%= link_to t('Destroy'), post, method: :delete, data: { confirm: t('Are you sure?') } %>
	</div>

	<br />
<% end %>

<div align="right">
	<%= paginate @posts %>
</div>

<div class='notifications center'>
</div>

<script>
	$('.center').notify({
		message: { text: 'Ceci est un test' }
	}).show();
</script>