<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<h4>Les news :</h4>

<%= paginate @posts %>

<% @posts.each do |post| %>

	<hr class="bs-docs-separator">

	<h4><%= link_to post.title, post %></h4>
	<p>
		Publié il y a <%= time_ago_in_words post.created_at %> par <b><%= post.user.try(:username) %></b>, dernière mise à jour le <%= l(post.updated_at) %>
	</p>
	<hr class="bs-docs-separator">
	<div class="articles" style="text-align: justify;">
		<%= truncate_html(post.content.html_safe, length: 1000) %>
	</div><br />
	<% if logged_in? && current_user.admin? %>
	<div id="admin-post">
		<%= link_to t('Edit'), edit_post_path(post) %> |
		<%= link_to t('Destroy'), post, method: :delete, data: { confirm: t('Are you sure?') } %>
	</div>
	<br>
	<% end %>
	<div style="text-align: right;">
		<%= link_to post.comments.count.to_s + " commentaire(s)", post %>
	</div>
	<br />
<% end %>

<div align="right">
	<%= paginate @posts %>
</div>

<div class='notifications center'>
</div>

<script>
	$('.center').notify({
		message: { text: 'Ceci est un test' }
	}).show();
</script>