<table class="table table-borderless">
	<tr>
		<td>
			<a href="http://www.samazama.fr/dl/Sundome/(SB) Sundome V01.rar"><img src="http://i.imgur.com/jyaey2P.jpg" style="float: right; height: 300px"></a>
		</td>
		<td>
			<a href="http://www.samazama.fr/dl/Sundome/(SB) Sundome V02.rar"><img src="http://i.imgur.com/rJuD2lI.jpg" style="height: 300px"></a>
		</td>
		<td>
			<img src="http://i.imgur.com/8L0P5wv.jpg" style="float: right; height: 300px">
		</td>
	</tr>

	<tr>
		<td style="text-align: center;">
			- <%= link_to "Chapitre 1", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V01_C01.rar" %> <br>
			- <%= link_to "Chapitre 2", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V01_C02_V2.rar" %> <br>
			- <%= link_to "Chapitre 3", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V01_C03.rar" %> <br>
			- <%= link_to "Chapitre 4", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V01_C04.rar" %> <br>
			- <%= link_to "Chapitre 5", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V01_C05.rar" %> <br>
			- <%= link_to "Chapitre 6", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V01_C06.rar" %> <br>
			- <%= link_to "Chapitre 7", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V01_C07.rar" %> <br>
			- <%= link_to "Chapitre 8", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V01_C08.rar" %> <br>
		</td>
		<td style="text-align: center;">
			- <%= link_to "Chapitre 1", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V02_C01.rar" %> <br>
			- <%= link_to "Chapitre 2", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V02_C02.rar" %> <br>
			- <%= link_to "Chapitre 3", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V02_C03.rar" %> <br>
			- <%= link_to "Chapitre 4", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V02_C04.rar" %> <br>
			- <%= link_to "Chapitre 5", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V02_C05.rar" %> <br>
			- <%= link_to "Chapitre 6", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V02_C06.rar" %> <br>
			- <%= link_to "Chapitre 7", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V02_C07.rar" %> <br>
			- <%= link_to "Chapitre 8", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V02_C08.rar" %> <br>
			- <%= link_to "Chapitre 9", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V02_C09.rar" %> <br>
			- <%= link_to "Chapitre 10", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V02_C10.rar" %> <br>
		</td>
		<td style="text-align: center;">
			- <%= link_to "Chapitre 1", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V03_C01.rar" %> <br>
			- <%= link_to "Chapitre 2", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V03_C02.rar" %> <br>
			- <%= link_to "Chapitre 3", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V03_C03.rar" %> <br>
			- <%= link_to "Chapitre 4", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V03_C04.rar" %> <br>
			- <%= link_to "Chapitre 5", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V03_C05.rar" %> <br>
			- <%= link_to "Chapitre 6", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V03_C06.rar" %> <br>
			- <%= link_to "Chapitre 7", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V03_C07.rar" %> <br>
			- <%= link_to "Chapitre 8", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V03_C08.rar" %> <br>
			- <%= link_to "Chapitre 9", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V03_C09.rar" %> <br>
			- <%= link_to "Chapitre 10", "http://www.samazama.fr/dl/Sundome/(SB) Sundome V03_C10.rar" %> <br>

		</td>
	</tr>
</table>


